<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">NodeJS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/home"> Inicio |<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/create-course">Crear Curso |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/view-all-courses">Ver Cursos |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/update-course">Actualizar Curso |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/register">Inscribir Curso |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/list-all-students">Ver Estudiantes |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/list-courses-students">Ver Cursos por Estudiantes</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            
            {{#if session}} 
            <a class="btn btn-success my-2 my-sm-0" href="/logout">Salir</a>&nbsp;
            {{/if}}
            
        </form>
    </div>
</nav>