<div class="col-md-8 mx-auto">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Usuarios</strong>
        <ul>
            <li><strong>Usuario:&nbsp;</strong>aspirante&nbsp;<strong>Documento:&nbsp;</strong>123&nbsp;<strong>Contraseña:&nbsp;</strong>123
            </li>
            <li><strong>Usuario:&nbsp;</strong>coordinador&nbsp;<strong>Documento:&nbsp;</strong>456&nbsp;<strong>Contraseña:&nbsp;</strong>coordinador
            </li>
            <li><strong>Usuario:&nbsp;</strong>docente&nbsp;<strong>Documento:&nbsp;</strong>789&nbsp;<strong>Contraseña:&nbsp;</strong>docente
            </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<br>