{{> head }}
    {{> navbar }}
<div class="container"><br>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">500 Internal Server Error</h4>
  <p>Lo sentimos, ha ocurrido un error con el servidor.</p>
  <hr>
  <p class="mb-0">Por favor inténtalo nuevamente.</p>
</div>
</div>
<br><br><br><br>
{{> footer }}