{{> head }}
{{> navbar }}
<div class="container"><br>
    <div class="col-md-12"><br>
        <h1>Cursos por Estudiantes Inscritos</h1>
        <br>
        <div>
            {{{mostrarEstudiantes listado}}}
        </div>
    </div>
</div>
</div>
<br><br><br><br>
{{> footer }}