{{> head }}
{{> navbar }}
<div class="container"><br>
    <div class="col-md-12"><br>
        <h1>Estudiantes Inscritos</h1>
        <br>
            {{{listarEstudiantes listado}}}
    </div>
</div>
<br><br><br><br>
{{> footer }}