{{> head }}
{{> navbar }}
<div class="container">
    <br>
    {{#if errors}}

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops...</h4><br>
        <p>{{errors}}</p>
        <hr>
        <p class="mb-0">&nbsp;</p>
    </div>

    {{else}}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">200 OK</h4><br>
        <p>{{message}}</p>
        <hr>
        <p class="mb-0">&nbsp;</p>
    </div>

    {{/if}}
</div>
<br><br><br><br>
{{> footer }}