{{> head }}
{{> navbar }}
<div class="container">
    <br>
    <h1>Cursos</h1>
    <br>
    <div class="col-md-12">
        {{{listarCursos listado}}}
    </div>
    <br>
    <h1>Listado de Cursos</h1>
    <br>
    <div class="col-md-12">
        {{{mostrarCursos listado}}}
    </div>
</div>
<br><br><br><br>
{{> footer }}